@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #141414;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#next-logo {
  display: none !important;
}
#devtools-indicator{
  display: none !important;
}
/* .left-sidebar {
  background: #FFFFFF;
  background-image: url('/image/side_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */

.custom-calendar .rdp-chevron {
  fill: #111827;
}

.custom-calendar .rdp-button_previous,
.custom-calendar .rdp-button_next {
  width: 34px;
  height: 34px;
  border: 1px solid #E5E7EB;
  border-radius: 9999px;
}

.custom-calendar .rdp-day_selected,
.custom-calendar .rdp-day_selected:hover {
  background: #4F46E5 !important;
  color: white !important;
}

.custom-calendar .rdp-day:hover:not(.rdp-day_selected) {
  background: #EEF2FF;
}

.custom-calendar .rdp-outside {
  color: #D1D5DB;
}
main{
  overflow-x: hidden;
  position: relative;
}
.rdp-month_caption{
  justify-content: center;
}
.rdp-weekday{
  font-size: 13px;
}
.rdp-day_button{
  font-size: 20px;
}
.rdp-nav {
    width: 100%;
    justify-content: space-around;
}
.custom-calendar .rdp-button_previous, .custom-calendar .rdp-button_next {
    border: none;
    width: 25px;
    height: 25px;
    font-size: 18px;
}
.custom-calendar .rdp-chevron {
    fill: #000000;
    font-size: 18px;
    height: 18px;
}
.rdp-caption_label {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #5F6070;
}
.rdp-month_grid{
  margin-top: 20px;
}
.rdp-months{
  margin-inline: auto;
}
.swiper{
  margin-left: 0 !important;
}

.recharts-cartesian-axis-tick-labels.recharts-xAxis-tick-labels{
 border-top: 1px solid #808B964D;
}
.recharts-layer.recharts-cartesian-axis-tick-label text, .recharts-layer.recharts-cartesian-axis-tick-label text tspan{
font-size: 14px;
line-height: 15px;
font-weight: 500;
color: #060317;
}